@model Filme

@{
    ViewData["Title"] = "Deletar";
}

<div class="text-center">
    <div class="container">
        <h2>Deseja deletar este filme?</h2>
        <hr />
        <div class="container" style="display: flex; flex-direction:row; justify-content: center;">
            <div>
                <ul style="text-align: left;">
                    <li>ID </li>
                    <li>Titulo</li>
                    <li>Genero</li>
                    <li>Quantidade de Cópias</li>
                    <li>Quantidade Disponiveis</li>
                    <li>Valor Locacao</li>
                </ul>
            </div>
            <div>
                <ul style="list-style-type: none;">
                    <li>@Html.DisplayFor(model => model.Id) </li>
                    <li>@Html.DisplayFor(model => model.Titulo)</li>
                    <li>@Html.DisplayFor(model => model.Genero)</li>
                    <li>@Html.DisplayFor(model => model.Qtd_Disponiveis)</li>
                    <li>@Html.DisplayFor(model => model.Qtd_Disponiveis)</li>
                    <li>R$ @Html.DisplayFor(model => model.ValorLocacao)</li>
                </ul>
            </div>
        </div>
    </div>
    <div>

        <form asp-action="Delete" >
                
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Deletar" class="btn btn-danger" />
                <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("Index", "Filme")'">Voltar</button>
            
        </form>

    </div>
</div>

